<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/erorstyle.css" th:href="@{/css/erorstyle.css}"/>
    <title>Error</title>
    <link href="../static/images/favicon.iso.ico" rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.iso.ico}" />
</head>
<body>
<div class="over"></div>
<div class="mistake">oops...error</div>
<div class="notfound">траница не найдена<br>
<a href="/home"> перейти на главную страницу..</a>
</div>
</body>
</html>