<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/sign-up-successtyle.css" th:href="@{/css/sign-up-successtyle.css}"/>
    <title>Регистрация</title>
    <link href="../static/images/favicon.iso.ico" rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.iso.ico}" />
    <style>

    </style>
</head>
<body>
    <div class="cong">
        <form >
            <h2 style="color: white">Вы успешно зарегистрировались</h2>
            <a href="/" style="text-decoration: none">войти в учетку</a>
            <br><br>
        </form>
    </div>
</body>
</html>